################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Multi-Arrays/.vs
/Multi-Arrays1/.vs/Multi-Arrays1
